body {
  text-align: center; /* Center all text */
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h5 {
  font-size: 2.5rem;
  color: rgb(118, 250, 246);
  font-weight: 800;
  text-shadow: 1px 1px 1px #dad9d9;
}

.black-back {
  background-color: black;
  opacity: 0.8;
  padding: 6px;
  width: 100%;
  border-radius: 5%;
}

.carousel-indicators {
  bottom: -10px;
  left: -35%; /* Align the indicators to the left */
}

.lead {
  font-size: 1.5rem;
  color: #dad9d9;
  
 
}

@media only screen and (min-width: 426px) {
  .navbar-nav, .navbar-text {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
  }
  h5 {
    font-size: 3rem;
  }
  .carousel-indicators {
    bottom: -10px;
    left: -30%; /* Align the indicators to the left */
  }

}

@media only screen and (max-width: 426px) {
  .navbar-nav, .navbar-text {
    display: none;
  }
  .hamburgermenu {display: none;}

  .carousel-indicators {
    bottom: -10px;
    left: -15%; /* Align the indicators to the left */
  }


  h5 {
    font-size: 1.3rem;
  }

}