
  <!-- Hero Image -->
<section class="hero-image">
  <div class="hero-text">
    <h1 class="hero-otsikko">Ohjelmointipalvelut</h1>
    <p class="lead bg-dark p-2">Web-ohjelmointi, kotisivut, webpohjaiset palvelut, verkkokaupat, ylläpito ja jatkokehitys.</p>
    <br>
    <a routerLink="/portfolio" class="button-projekteja">Katso projekteja</a>
  </div>
</section>

  <!-- Page Content -->
  <section class="py-3 p-4">
    <div class="container">
      <h1 class="fw-light">Uudet kotisivut? Webpohjainen palvelu? Jos vastasit kyllä, olet oikeassa paikassa.</h1>
      <p class="lead">Etsitkö sopivaa kumppania ohjelmointiprojektiin? Ota yhteyttä! Teen ohjelmointitöitä pääasiassa webpohjaisesti. Suunnitellaan yhdessä juuri sinulle sopiva kokonaisuus. Hoidan tarvittaessa myös toteutetun sivuston jatkokehitystä ja ylläpitoa.
        Katso <a routerLink="/portfolio">projekteista<i class="bi bi-arrow-right"></i> </a> tekemiäni ohjelmointitöitä!
      </p>
    </div>
  </section>