<header>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators py-2">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>


      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('../../assets/images/coding_1.jpg')">
          <div class="carousel-caption">
            <h5>Hey you!</h5>
            <p>Lets Go!</p>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('../../assets/images/coding_2.jpg')">
          <div class="carousel-caption">
            <h5>Käyttöjärjestelmät ja palvelimet</h5>
           
            <div class="black-back">Windows, MacOs, Linus ja kaikki mobiilikäyttöjärjestelmät. Azure ja DevOps.</div>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url('../../assets/images/coding_3.jpg')">
          <div class="carousel-caption">
            <h5>Versionhallinta</h5>
            <p>Github ja Gitin käyttäminen on hallinnassa.</p>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url('../../assets/images/coding_4.jpg')">
            <div class="carousel-caption">
              <h5>Tietokannat</h5>
              <p>Vahvin osaaminen kohdistuu Azure SQL ja MySql tietokantoihin.</p>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url('../../assets/images/coding_5.jpg')">
            <div class="carousel-caption">
              <h5>Ohjelmointi</h5>
              <div class="black-back">
              Vahvimmat ohjelmointikieleni ovat C#, Angular, JavaScript lisäksi osaamista CSS ja HTML:stä.
              </div>
            </div>
          </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
  
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      <h1 class="fw-light">Jarnon sivut</h1>
      <p class="lead">Löydät täältä sivustolta lisätietoja minusta. Olen koonnut osaamistani ja työpaikkatietoja tänne.
        Sivuston rakentamisessa on käytetty seuraavia teknologioita; Angular, HTML, CSS ja BootStrap.
        Katso <a routerLink="/">portfoliosta <i class="bi bi-arrow-right"></i> </a>  tekemiäni ohjelmointiprojekteja!
      </p>
    </div>
  </section>