<main class="me-sivu">
  <section class="me-sivu-keskiosa">

      <div class="card text-bg-dark mb-2 kortti">
          <div class="row g-2">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <img src="../../assets/images/omakuva.jpg" class="img-fluid rounded-start" alt="...">
                  <p class="card-text text-muted">Koulutus: Tietojenkäsittely - Tradenomi (Haaga-Helia), Ohjelmointi (Helsinki Business College), Tietojenkäsittely (HLTI)</p>
              </div>

              <div class="col-lg-8 col-md-6 col-sm-12">
                  <div class="card-body">
                      <h3 class="card-title">Hinnasto</h3>
                      <p class="card-text">
                          Toteutan ohjelmointiprojekteja webpohjaisesti, määrittelen tietokantoja ja ohjelmoin rajapintoja. Suunnitellaan yhdessä sopiva kokonaisuus juuri sinulle sopivaksi!
                      </p>
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th>Palvelu</th>
                            <th>Hinta</th>
                          </tr>
                        </thead>
            <tbody >
              

              <tr>
            <td>1 sivun verkkosivu</td>
            <td>100-200 € (Alv 0%) </td>
            </tr>
            <tr>
              <td>alle 5 sivun verkkosivusto</td>
              <td>500-700 € (Alv 0%) </td>
            </tr>
            <tr>
              <td>Laajempi verkkosivusto</td>
              <td>Sovitaan erikseen </td>
            </tr>
            <tr>
              <td>Azure SQL tietokantataulut</td>
              <td> 100 € / kpl (Alv 0%) </td>
            </tr>
            <tr>
              <td>Toteutetun sivun ylläpito kk</td>
              <td>30-70 € (Alv 0%) </td>
            </tr>
            <tr>
              <td>Tuntityöt</td>
              <td>75 € (Alv 0%) </td>
            </tr>
            </tbody>
          </table>
        
        
      </div>
    </div>
  </div>
</div>







<table class="table tablemydata table-striped-columns table-dark mt-4">
  <caption></caption>
 <thead> 
 <tr>
  <th>Informaatiot ja ohjelmointiteknologiat</th>
 </tr>
</thead> 

<tbody>
  <tr>
    <ul class="mt-4">
      <li *ngFor="let x of mydatas"><i class="bi bi-info-square"></i>  {{ x.info }}</li>
    </ul></tr>
  

  </tbody>  
</table>
</section>

<div class="contact-form-container">

<div class="container">
  <h2>Ota yhteyttä</h2>
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Nimi <span class="red">*</span></label>
      <input type="text" class="form-control" id="name" placeholder="">
    </div>
    <div class="mb-3">
      <label for="company" class="form-label">Yritys</label>
      <input type="text" class="form-control" id="company" placeholder="">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email <span class="red">*</span></label>
      <input type="email" class="form-control" id="email" placeholder="">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Puhelinnumero</label>
      <input type="tel" class="form-control" id="phone" placeholder="">
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Viesti</label>
      <textarea class="form-control" id="message" rows="3" placeholder="Kerro tarkemmin millaista verkkopalvelua olet hankkimassa"></textarea>
    </div>
    <button type="submit" class="send-button">Lähetä <i class="bi bi-send-fill"></i></button>
  </form>
</div>
</div>

</main>