<main class="me-sivu">
  <section class="me-sivu-keskiosa">
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col" *ngFor="let item of content">
          <div class="card h-100">
            <img *ngIf="item.image" src="{{item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-dark p-2">{{ item.title }}</h5>
              <p class="card-text bg-dark rounded p-2" [innerHTML]="item.text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="contact-form-container">
    <div class="container">
      <button class="send-button">
        <a href="mailto:info@koodimaa.fi">
          <span class="send-link">
            Ota yhteyttä <i class="bi bi-send"></i>
          </span>
        </a>
      </button>
    </div>
  </div>
</main>