<img src="assets/me.jpg"/>

<br>
Testailen tässä Angularin router ominaisuuksia ja datan siirtämistä.<br>
Huomaa kuvassa, olen mennyt suksilla kauppaan! <br>
Sivuston ulkonäköä tullaan siistimään!<br>

<table style="width:30%">
  <tr>
    <th style="background-color: gray;">ID
      <li *ngFor="let x of mydatas">
    {{ x.id }}
    </li>
    </th>
 
    <th style="background-color: rgb(192, 192, 192);">INFO
     <li *ngFor="let x of mydatas">
    {{ x.info}}
    </li>
    </th>
  </tr>
</table>


<div style="overflow-x: auto;">
  <table>
    <tr>

	  <th>Syntymaaika (kovakoodattu)</th>
      <th>Syntymapaikka (kovakoodattu)</th>
    </tr>
    
    <tr>

    <td>13.4.1977</td>
    <td>Hameenlinna</td>
    
    </tr>
    
        <tr>

    <td> 1.1.1980 </td>
    <td> Helsinki </td>
    </tr>
    
  </table>
</div>