<header>
  <main class="portfolio-sivu">
  <section class="group-listaryhma">
    <article class="list-group listaryhma-1 mt-2 mb-2">
      <div class="list-group">
        <div class="list-group-item list-group-item rounded" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h1 class="mb-1 m-1">Ohjelmointiprojekteja</h1>
            <small class="m-2">9.3.2025</small>
          </div>
          <p class="m-1">Angularilla, Reactilla ja C# tekemiäni web -ohjelmia.</p>
          <div class="filters">
            <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange($event)">
              <option value="" selected>All</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
              <option value="C#">C#</option>
            </select>
            <button class="btn-primary" type="button" (click)="sortPrograms('new')">Uusin päivitys</button>
            <button class="btn-primary" type="button" (click)="sortPrograms('old')">Vanhin päivitys</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-2 p-2" *ngFor="let x of filteredPrograms">
            <div class="card h-100">
              <a [href]="x.url" target="_blank">
                <img [src]="x.image" class="card-img-top" alt="{{x.name}}">
              </a>
              <div class="card-body">
                <h5 class="card-title text-dark"><a class="linkki" href="{{x.url}}">{{x.name}} <i class="bi bi-arrow-right"></i></a></h5>
                <p class="card-text bg-dark p-2 rounded mx-2">{{x.detail}}</p>
              </div>
              <div class="card-footer p-2">
                <small class="text-muted mx-2">Updated: {{x.update}}</small>
                <span class="badge text-bg-success mx-1 p-2" *ngIf="x.status === 'valmis'">{{x.status}}</span>
                <span class="badge text-bg-warning mx-1 p-2" *ngIf="x.status === 'kesken'">{{x.status}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
</main>
</header>