.group-listaryhma {
  margin-left: 20%;
  margin-right: 20%;
}

.filters {
  background-color: #2222229a;
}

.card {
  transition: transform 0.2s;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}

.linkki {
  color: #444444;
  font-weight: 700;
  text-decoration: none;
}


.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

select {
  width: 12rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #000;
  margin: 1%;
}

.btn-primary {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #012543;
  color: #fff;
  cursor: pointer;
  margin: 1%;
}

.btn-primary:hover {
  background-color: #fff;
  color: #012543;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
}

header {
  min-height: 80vh;
  background-color: #2222229a;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .group-listaryhma {
    margin-left: 5%;
    margin-right: 5%;
  }

  header {
    background-color: #2222229a !important;
  }
}