


.left-palkki {
background: linear-gradient(to bottom, rgb(118, 250, 246), transparent);
width: 4px;   
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 9999;

}



footer {
    font-size: 1.4rem;
   background-color: #2222229a;
    /*background: rgb(118, 250, 246);*/
    color: rgb(118, 250, 246);
    position: relative !important;
    box-sizing: border-box !important;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  

  
  .darkhover {
    color: rgb(118, 250, 246);

  }
  
  .darkhover:hover {
    background-color: rgb(118, 250, 246);
    color: #2222229a;
  }
  
  a { 
    text-decoration: none;
  }
  
  .navbar-logo {
    width: 50% !important;
    height: 50% !important;
    display: block;
    margin: 0 auto;
    align-self: flex-start;
    margin-left: 20px;
  }
  
  .text-muted {
    color: #ccc !important;
  }
  
  ul.nav {
    margin-bottom: 10px;
  }
  
  ul.nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  ul.nav li:last-child {
    margin-right: 0;
  }