
<section class="left-palkki"></section>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- Footer -->
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/etusivu" class="nav-link px-2 darkhover">Etusivu</a></li>
        <li class="nav-item"><a routerLink="/pricelist" class="nav-link px-2 darkhover">Informaatio</a></li>
        <li class="nav-item"><a routerLink="/portfolio" class="nav-link px-2 darkhover">Projekteja</a></li>

      </ul>
      <p class="text-center text-muted">© 2024 Jarno Keränen</p>

    </footer>
  </div>



