
<section class="left-palkki"></section>
<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- Footer -->
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center">
        <li class="nav-item"><a routerLink="/etusivu" class="nav-link px-2 darkhover">Etusivu</a></li>
        <li class="nav-item"><a routerLink="/pricelist" class="nav-link px-2 darkhover">Informaatio</a></li>
        <li class="nav-item"><a routerLink="/portfolio" class="nav-link px-2 darkhover">Projekteja</a></li>
        <li class="nav-item"><a routerLink="/tietosuoja" class="nav-link px-2 darkhover">Tietosuojaseloste</a></li>

      </ul>
      <p class="text-center text-secondary">Jarno Keränen</p>
      <p class="text-center text-secondary">0405540422 </p>
      <p class="text-center text-secondary">
        <a href="mailto:info@koodimaa.fi">info@koodimaa.fi</a>
      </p>
      <p class="text-center text-secondary">koodimaa.fi</p>
      <figure class="navbar-logo">
        <img src="../../assets/images/koodimaa.png" alt="Logo" class="navbar-logo">
      </figure>

    

    </footer>
  </div>



